<%= hidden_field_tag :newsletter_id, @newsletter.id %>

<h1>Newsletter erstellen</h1>
<form action="" method="" accept-charset="utf-8">
  <div class="form-group">
    <label for="newsletter-title">Titel</label>
    <input  type="text"
          id="newsletter-title"
          class="form-control"
          onchange="save_title(this.value);" />
  </div>
</form>
<div id="new_element_wrapper">

</div>

<hr>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="new_element_btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Neues Element hinzufügen
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#" onclick="add_element('Article')">Artikel</a></li>
    <li><a href="#" onclick="add_element('Upcoming')">Events</a></li>
    <li><a href="#" onclick="add_element('EmploymentNotice')">Stellenangebote</a></li>
  </ul>
  <input type="submit" class="btn btn-large" value="Speichern">
  </input>
</div>