<div id="page-wrapper" style="margin-bottom: 1000px;">
  <div style="width: 100%; height: 100%;">
    <%= image_tag('newsletter_header.png', style: 'width: 100%; height: auto;', id: 'newsletter-header-img') %>
  </div>
  <div id="sticky-header">
    <ul>
      <% @newsletter.news_elements.group_by(&:category).each do |category, elements| %>
        <li><%= "#{category.name}" %></li>
      <% end %>
    </ul>
  </div>
  <div id="page-content">
    <% @newsletter.news_elements.group_by(&:category).each do |category, elements| %>
    Kategorie: <%= category.name %>
    <% elements.each do |element| %>
    <%= render partial: find_partial_show(element.newsletterable.class.to_s), :locals => {element: element} %>
    <% end %>
    <% end %>

  </div>
</div>
<script type="text/javascript">
  $(function(){

    var stickyRibbonTop = $('#sticky-header').offset().top;

    $(window).scroll(function(){
      if( $(window).scrollTop() > stickyRibbonTop ) {
        $('#sticky-header').css({position: 'fixed', top: '0px'});
      } else {
        $('#sticky-header').css({position: 'static', top: '0px'});
      }
    });
  });
</script>