<div  class="news-element"
      style='background-color: <%= "#{ element.category.color }" %>'
>
  <h1>Titel: <%= element.newsletterable.title %></h1>
  <p>
    <%= element.newsletterable.body.html_safe %>
  </p>
</div>