<% @notices.each do |n| %>
  <h4><%= "#{n.title}" unless n.title.blank? %></h4>
  <h4><%= "Stellenangebot von  #{n.business_name}" if n.title.blank? %></h4>
  <strong><%= "#{n.business_name}" %></strong>
<% end %>